<!-- About -->
<div id="about" class="section md-padding">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <!-- Section header -->
            <!-- <div class="section-header">
                <h3 class="title"></h3>
            </div> -->
            <!-- /Section header -->
            <div class="col-md-12">
                <div [innerHTML]="'corporate' | translate"></div>
            </div>
        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /About -->